html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    --primary-blue: #1992d4;
    --background-blue: #e2e8f0;
    --accent-yellow: #f0b429;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 15fr 85fr;
}

#sidebar {
    background-color: var(--primary-blue);
    color: #ffffff;
    z-index: 1;
    box-shadow: 4px 0px 12px -12px black;
}

#logo-container {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-right: 28px;
    font-size: 2.8rem;
    font-weight: 500;
}

#logo-container #logo {
    font-size: 48px;
}

.links {
    list-style: none;
    padding: 0px;
    margin: 52px 20px;

    > li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.6rem;
        font-weight: 400;

        > .small-icon {
            width: 48px;
            text-align: center;
        }
    }

    > li:hover {
        cursor: pointer;
    }
}

#content {
    display: grid;
    grid-template-rows: min-content 1fr;
}

#header {
    box-shadow: 0px 4px 12px -12px;
    z-index: 1;
}

#header > .header-div {
    display: flex;
    padding: 16px 40px;
    gap: 20px;
}

#search-container {
    display: flex;
    flex-basis: 720px;
    gap: 12px;
    align-items: center;
    margin-right: auto;
}

#search-bar {
    width: 100%;
    min-width: 160px;
    padding: 12px;
    height: 32px;
    border: none;
    border-radius: 32px;
    background-color: var(--background-blue);
    font-size: 1.6rem;
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-pic {
    background-color: var(--accent-yellow);
    border-radius: 50%;
}

.profile-pic.small {
    height: 48px;
    width: 48px;
}

.profile-pic.large {
    height: 72px;
    width: 72px;
    flex-shrink: 0;
}

.name {
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
}

.grid-container {
    display: grid;
    align-content: center;
    margin-right: auto;
}

.greeting.small {
    font-size: 1.6rem;
    font-weight: 600;
}

.greeting.large {
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
}

#action-button-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.action-button {
    padding: 8px 28px;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

.action-button:hover {
    cursor: pointer;
}

#main-content {
    background-color: var(--background-blue);
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: min-content auto;
    padding: 40px 20px;
    gap: 20px;
}

.projects-header {
    margin: 0;
}

.announcements-header {
    margin: 0;
}

#projects-grid-parent {
    display: grid;
    grid-template-rows: repeat(auto-fit, 200px); 
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
}

.project-card {
    display: grid;
    grid-template-columns: 8px 1fr;
    grid-template-rows: 48px 6fr 4fr;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 12px -10px black;
}

.card-color {
    background-color: var(--accent-yellow);
    border-radius: 8px 0px 0px 8px;
    grid-column: 1/2;
    grid-row: 1/-1;
}

h2 {
    font-weight: 800;
    font-size: 1.6rem;
    margin: 20px;
}

.card-text {
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: scroll;

    > p {
        font-size: 1.4rem;
        margin: 0;
    }
}

.card-text::-webkit-scrollbar {
    display: none;
}

.card-button-container {
    margin: 20px 20px 20px auto;

    > span {
        margin-right: 20px;
        font-variation-settings:
            'wght' 500,
            'opsz' 48;
    }

    > span:hover {
        font-variation-settings:
            'FILL' 1;
        cursor: pointer;
        color: var(--accent-yellow);
    }
}

#news-grid-parent {
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

#announcements-grid-parent {
    display: grid;
    grid-template-rows: repeat(3, auto);
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 12px -10px black;
    padding: 20px;
}

.announcement-card {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: min-content;

    > h3 {
        font-size: 1.4rem;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    > p {
        font-size: 1.2rem;
        margin: 0;
        height: 56px;
        overflow-y: hidden;
    }
}

.announcement-card:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0x;
    margin-bottom: 0px;
}


.trending-header {
    margin: 20px 0px;
}

#trending-grid-parent {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    gap: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 12px -10px black;
    padding: 20px;
}

.trending-card {
    display: flex;
    align-items: center;

    > .trending-handle {
        margin-left: 12px;

        > h3 {
            font-size: 1.4rem;
            margin: 0;
        }

        > p {
            font-size: 1.2rem;
            margin: 0;
        }
    }
}